<div class="row">

  <div class="col-md-6 col-md-offset-3">

    <div class="form-error alert-danger"></div>
    <form (submit)="userRegister()">

      <div class="form-group">
        <label for="name">First Name:</label>
        <input type="type" class="form-control" [(ngModel)]="firstName" name="firstName" id="name">
      </div>

      <div class="form-group">
        <label for="name">Last Name:</label>
        <input type="type" class="form-control" [(ngModel)]="lastName"  name="lastName" id="name">
      </div>

      <!-- <div class="form-group">
        <label for="name">Username:</label>
        <input type="type" class="form-control" [(ngModel)]="username" name="username" id="name">
      </div> -->
      <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" [(ngModel)]="email" name="email" id="email">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" [(ngModel)]="password" name="password" id="pwd">
      </div>

      <button type="submit" class="btn btn-default btn-block">Register</button>

    </form>

  </div>



</div>