/* .container-styled {
    border: 1px solid rgba(132, 132, 132, 0.25);
    padding: 50px;
    margin:20px auto;
} */

.part-listing-learn .tab-content {
    padding: 10px;
}

.part-listing-learn .tab-content .panel.panel-default {
    margin: 20px auto;
}

.part-listing-learn {
    margin-top: 40px;
}

div#aboutProject > .description {
    margin-top: 24px;
}


