
.dash-course {
    border: 1px solid black;
    /* padding: 5px; */
    margin-bottom: 10px;
    margin-right:6px;
    margin-left: 6px;
    height: 450px;
}

.dash-course .thumb .img-linker>img {
    margin: 0;
    padding: 0;
    width: 100%;
    height:200px;
    max-height: 200px;
}

.dash-course .info {
    padding: 12px;
}

.dash-course p.dash-title {
    font-weight: bolder;
    color: black;
    font-size: 1.1em;
    margin-bottom: 0;
}

.dash-course p.cat {
    font-size: 0.9em;
    color: rgba(128, 128, 128, 0.6);
}

.dash-course .description {
    margin-bottom: 10px;
    min-height: 110px;
    max-height: 110px;
}

.dash-course .enroll.pull-right {
    margin-bottom: 10px;
}

.dash-course h3#projectHeader {
    margin:12px auto;
}
